<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<body>
    <form method="post" action="/posts">
        <h1 style="text-align: center; color:#676565; font-weight: bold;">Write about your POST!!</h1>
        <input type="text" placeholder="enter username" name="username" required/>
        <br><br>
        <textarea name="content" placeholder="write your post" required></textarea>
        <br><br>
        <button>Submit post</button>
    </form>
</body>
</html>