<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in Detail</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <h2 style="text-align: center; color:#676565; font-weight: bold;">✤ Here is your post in detail ✤</h2>
    <p style="text-align: center; color:#676565; font-weight: bold;"><span style="color: black;">Post id:</span> <%= post.id%></p>
    <div class="posts">
        <h3 class="username required">@<%= post.username%></h3>
        <h3 class="content">@<%= post.content%></h3>
        <a class="button-primary" href="http://localhost:8080/posts">Back</a>

    </div>
</body>
</html>